@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroy-extrabold-webfont.eot');
    src: url('../fonts/gilroy-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-extrabold-webfont.woff') format('woff'),
         url('../fonts/gilroy-extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroy-light-webfont.eot');
    src: url('../fonts/gilroy-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy-light-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-light-webfont.woff') format('woff'),
         url('../fonts/gilroy-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
}

a {
    text-decoration: none;
}

.visually-hidden {
    visibility: hidden;
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.btn {
    display: inline;
    
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000;  
    
}

.page-title {
    margin: 45px 60px 45px;
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    color: #000;
}

.breadcrumbs a, 
.breadcrumbs-current {
    font-size: 14px;
    line-height: 24px;
    font-weight: 200;
    color: #000;
}

header .container {
    position: relative;
    margin-top: 40px; 
    background-color: #f7e296;
    min-height: 300px;    
}

.header-logo {
    position: absolute;
    left: 60px;
    top: -18px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-left: 60px;
}

.header-middle {
    display: flex;
    padding-top: 30px;
    padding-left: 60px;
    align-items: center;        
}

.header-logo:hover {
    opacity: .6;
}

.header-logo:active {
    opacity: .3;
}

fieldset,
.search-field input {
    border: none;   
}

.search {
    display: flex;    
    width: 440px;
}

.search input {
    width: 355px;    
    padding: 8px 40px 8px;
    background-color: transparent;
    color: #000;
    font-size: 15px;
    line-height: 30px;    
}

.search input::placeholder {    
    opacity: .3;
}

.search input:hover {
    opacity: .6;
}

.search input:focus {
    border-bottom: 2px solid #000;
    outline: none;    
}

.search input::placeholder:focus {
    opacity: 1;    
}

.search-button {
    display: none;    
    background: transparent;
    border: 2px solid #000;
    padding: 15px 20px;
}

.search input:focus + .search-button {
    display: block;
}

.user-navigation,
.card,
.card-footer,
.catalog-navigation,
.site-navigation,
.breadcrumbs,
.user-navigation-footer,
.navigation-footer,
.filter ul,
.sorting ul,
.catalog-list,
.pagination-list,
.product-list,
.brand-list,
.features-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.catalog-navigation {
    display: none;
}

.user-navigation {
    display: flex;
    width: 180px;   
}

.card {
    display: flex;
    justify-content: flex-end;
    width: 320px;    
}

.card li:first-child {
    padding-left: 35px;
    margin-right: 30px;
}

.card li:last-child {
    margin-right: 60px;    
    padding-left: 35px;
}

.user-navigation a,
.card a {
    font-size: inherit;
    line-height: 30px;
    color: #464646;
    white-space: nowrap;    
}

.login-link {
    padding-left: 45px;
}
 
.site-navigation {
    display: flex;   
    width: 520px;
    margin-left: auto;
    margin-right: 55px;
}

.site-navigation li:first-child {
    margin-right: 35px;
    margin-left: 15px;
}

.site-navigation li:nth-child(2) {
    margin-right: auto;
}

.catalog-tab-menu,
.site-navigation a {
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 3.5px;
}

.user-navigation a:hover,
.card a:hover,
.catalog-tab-menu:hover,
.site-navigation a:hover {
    opacity: .6;
}

.user-navigation a:active,
.card a:active,
.catalog-tab-menu:active,
.site-navigation a:active {
    opacity: .3;
}

.main-slider {
    display: block;
    position: relative;
    z-index: 1;
    width: 1040px;
    margin: -115px auto 110px;
    
        
}

.slider-item:nth-child(2),
.slider-item:nth-child(3) {
    display: none;
}

.slider-item {
    display: flex;
}
.slider-column:first-child {
    width: 520px;    
}

.slider-column:first-child img {   
    margin-left: 30px;     
}

.slider-column:last-child {
    width: 520px;
}

.slider-numb-item {
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 179px;
    line-height: 179px;
    color: #fff;
    font-weight: 800;
    position: absolute;
    top: -15px;
    right: -10px;
}

.main-slider h3 {
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 47px;
    line-height: 56px;
    font-weight: 800;
    color: #000;
    margin-top: 85px;
}

.slider-table tr:first-child {
    font-family: 'gilroylight', Arial, sans-serif;
    font-size: 36px;
    line-height: 48px;
    font-weight: 300;
    color: #000;
}

.slider-table tr:first-child {
    font-family: 'gilroylight', Arial, sans-serif;
    font-size: 36px;
    line-height: 48px;
    font-weight: 200;
    color: #000;
}

.slider-table tr:last-child {
    font-family: inherit;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #000;
}

.slide-toggle {
    border: 1px solid #000;
    border-radius: 50%;
    height: 14px;

    background-color: #fff;
    
}

.product-list {    
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.product-menu h3 {
    margin-top: 40px;
    margin-bottom: 0;
}

.product-menu h3 a {
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 18px;
    font-weight: 24px;
    color: #000;
    text-align: center;
}

.product-menu .product-item .product-img-bg {
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f7e296;
}

.product-menu .product-item .product-img-bg:hover {
    background-color: #f0c52e;
}

.product-menu .product-item:active img {
    background-color: #f0c52e;
    opacity: .3;
}

.features {
    display: flex;
    background-color: #e5e5e5;
    margin-top: 185px;
}

.features-box {
    display: flex;
    min-height: 280px;
}

.features-column:first-child {
    width: 280px;
}
.features-column:first-child .features-list {
    display: flex;
    flex-direction: column;
    min-height: 320px;
    justify-content: center;
    border-right: 7px solid black;
    margin-top: -115px;
    
}

.features-column:last-child {
    width: 860px;
}

.features-column:last-child h3 {
    font-family: 'gilroyextrabold', Arial, sans-serif; 
    font-size: 47px;
    line-height: 48px;
    font-weight: 800;
    color: #000;
    margin-top: -28px;
    margin-left: 100px;
}

.features-column:last-child p {
    margin-left: 100px;
}

.features .feature-item-current {
    margin-bottom: 35px;
}

.features .feature-item {
    display: flex;
    text-align: center;
    background-color: #f0c52e;
    height: 8px;
    width: 160px;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
}

.features .feature-item:last-child {
    margin-bottom: 0px;
}

.feature-item-current .btn {    
    display: block;
    padding: 10px 15px 10px;    
    
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #f7e184;
    letter-spacing: 2px;
    text-transform: uppercase;
    
    background-color: #000000;
}
.feature-item .btn {    
    display: inline;
    
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    letter-spacing: 2px;
    text-transform: uppercase;    
}

.brand-list {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 90px 0;
}

.brand-img-container img {
    filter: grayscale(1);
    opacity: .2; 
}

.brand-img-container img:hover {
    filter: grayscale(0);
    opacity: 1; 
}

.about_us ul {
    list-style: circle;
}

.about_us h2, .contacts h2 {
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    color: #000;
}

.about_us ul li {
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 16px;
    line-height: 40px;
    font-weight: 800;
    color: #000;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 60px;    
}

.breadcrumbs li {
    margin-right: 35px;
}

.catalog-container {
    display: flex;    
}

.filter-block {
    width: 34.5%;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.filter {
    display: flex;
    flex-direction: column;    
    width: 330px;
}

.catalog-block {
    width: 760px;
}

.filter-title, .sorting h2 {
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    text-transform: uppercase;
    color: #000;
    margin: 0;    
}

.filter-container { 
    display: flex;
    justify-content: flex-end;  
    background-color: #dcdcdc;
    width: 100%;    
}

.filter-title {
    padding: 25px 0;
    width: 270px;
}

.filter-form {
    margin: 70px 0 0 60px;
}

.sorting h2{    
    padding: 25px 55px 25px 60px;
}

.sorting {
    display: flex;
    align-items: center;
    background-color: #ebebeb
}

.sorting-how {
    display: flex;    
}

.sorting-how li:not(last-child) {
    margin-left: 30px;
}

.sorting-how a  {
    font-family: inherit;
    font-size: 14px;
    line-height: 18px;
    color: #000;
}

.sorting-price {
    font-weight: 800;
}

.catalog-block {
    width: 65.5%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.catalog {
    width: 760px;
    margin-left: 70px;
    margin-top: 70px;
}

.catalog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 360px;
}

.catalog-list h3 {
    font-family: 'gilroyextrabold', Arial, sans-serif;    
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: #000;
}

.pagination-list {
    display: flex;
    padding: 25px;
    background-color: #ebebeb;
    margin-top: 40px;
    margin-bottom: 80px;    
}

.pagination-item, .pagination-item-current {
    margin: 0 30px;
}

.pagination-item:first-child {    
    margin-right: auto;
}

.pagination-item:last-child {
    margin-left: auto;
}

.catalog-list span {
    font-family: 'gilroylight', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #474747;
}

.pagination-item:last-child a, .pagination-item:first-child a, .pagination-item-current a {
    font-family: 'gilroyextrabold', Arial, sans-serif;    
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
}

.pagination-item:nth-child(3) a, .pagination-item:nth-child(4) a {
    font-family: 'gilroyextrabold', Arial, sans-serif;    
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #000;
    opacity: .3; 
}

.prefooter-column {
    display: flex;
}

footer {
    height: 325px;
    background-color: #464646;
}

.row-top-footer {
    display: flex;
    justify-content: space-between;    
}

.row-top-footer a {
    font: inherit;
    color: #adadad;
}

.footer-logo,
.card-footer {
    margin-top: 65px; 
}

.card-footer {
    display: flex;
    justify-content: flex-end;          
}

.card-footer li {
    margin-left: 55px;
}

.row-middle-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-middle-footer p, .navigation-footer {
    margin-top: 35px;
}

.row-middle-footer p {
    font: inherit;
    color: #fff;
    margin-bottom: 0;
}

.row-middle-footer a {
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
}

.navigation-footer {
    display: flex;
    justify-content: space-around;    
}

.navigation-footer li {
    margin-right: 35px;
    letter-spacing: 2px;
}

.navigation-footer li:first-child, .social-img a:last-child {
    margin-left: auto;
}

.navigation-footer li:last-child, .social-img a:last-child {
    margin-right: auto;
} 

.row-bottom-footer {
    display: flex;    
    align-items: center;
    height: 45px;
    margin-top: 70px;
}

.yellow-line {
    display: block;
    width: 80px;
    height: 8px;
    background-color: #ffc600;
}

.social-img {
    display: flex;  
    margin-right: auto;
    margin-left: calc(40% - 30px);
    width: 160px;
}

.social-img a {
    margin-right: 25px;
}

.social-img a:first-child {
    margin-left: auto;
}
.social-img a:last-child {
    margin-right: auto;
}

.row-bottom-footer .social-img a {
    opacity: .3;
}

.row-bottom-footer .social-img a:hover {
    opacity: 1;
}

.row-bottom-footer .social-img a:active {
    opacity: .1;
}

.row-bottom-footer a:hover {
    opacity: .6;
}

.row-bottom-footer .social-img a:active {
    opacity: .3;
}

.modal {
    display: none;
}