@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroy-extrabold-webfont.eot');
    src: url('../fonts/gilroy-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-extrabold-webfont.woff') format('woff'),
         url('../fonts/gilroy-extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroy-light-webfont.eot');
    src: url('../fonts/gilroy-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy-light-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-light-webfont.woff') format('woff'),
         url('../fonts/gilroy-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
    min-width: 1160px;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.btn {    
    position: relative;
    padding: 12px 42px;
    
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 3.5px;

    z-index: 1;    
}

.btn::before {
    content: '';
    width: 100%;
    height: 8px;
    position: absolute;
    top: 20px;
    left: 0;    
    background-color: #f0c52e;    
    z-index: -1;
}

.btn:hover::before {    
    top: 0;
    height: 100%;     
}

.btn:active {
    color: rgba(0, 0, 0, .3);
}

.page-title {
    margin: 38px 60px 20px;
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    color: #000;
    word-spacing: 1px;
    letter-spacing: .38px;
}

.main-header .container {
    position: relative;
    margin-top: 47px; 
    background-color: #f7e296;
    min-height: 298px;    
}

.page-header .container {
    position: relative;
    margin-top: 40px; 
    background-color: #f7e296;
    min-height: 185px;   
    padding-top: 2px;
    box-sizing: border-box;
}

.header-logo {
    position: absolute;
    left: 60px;
    top: -20px;
}
.page-header .header-logo {
    top: -16px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 34px;
    padding-left: 62px;
}

.header-middle {
    position: relative;
    
    display: flex;
    padding-top: 28px;
    padding-left: 60px;
    align-items: center;        
}

.logo:hover {
    opacity: .6;
}

.logo:active {
    opacity: .3;
}

fieldset {
    padding: 0;
}

fieldset{
    border: none;   
}

.search-field {
    position: relative;
}

.search-field .search {
    display: flex;    
    width: 440px;
}

.search-field .search {
    width: 440px;    
    padding: 8px 35px 8px;    
    background-color: transparent;
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    background-position: 3px 50%;
    color: #000;
    font-size: 15px;
    line-height: 30px;
    border: none;
    box-sizing: border-box;       
}

.search-field input::placeholder {    
    opacity: .3;
}

.search-field input:hover {
    opacity: .6;
}

.search-field input:focus {    
    border-bottom: 2px solid #000;
    outline: none;    
}

.search-field input::placeholder:focus {
    opacity: 1;    
}

.search-button {
    opacity: 0;   
    background: transparent;
    border: 2px solid #000;
    padding: 14px 17px;
    cursor: pointer;
    z-index: 5;
    position: absolute;
    right: -82px;
    top: -1px;
}

.search-button:hover {
    color: #fff;
    background-color: #000;
}

.search-button:active {
    color: rgba(255, 255, 255, .3);
}

.search:focus + .search-button {
    opacity: 1;
}

.user-navigation,
.cart,
.cart-footer,
.catalog-navigation-list,
.site-navigation,
.breadcrumbs,
.user-navigation-footer,
.navigation-footer,
.filter ul,
.sorting-how,
.sorting-arrow,
.catalog-list,
.pagination-list,
.product-list,
.brand-list,
.features-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.catalog-navigation-block {
    position: absolute;
    top: 55px;
    left: 0;
    padding: 20px 60px 35px;
    
    display: none;
    box-sizing: border-box;
    width: 100%;
    background-color: #f7e296;;
    z-index: 2;    
}

.catalog-navigation-list {
    padding-right: 60px;
}

.catalog-navigation-item:hover {
    opacity: .6;
}

.catalog-navigation-item:active {
    opacity: .3;
}

.catalog-navigation-item a {
    font-family: 'gilroylight', Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
    color: #000;    
}

.user-navigation {
    display: flex;
    width: 175px;   
}

.page-header .user-navigation {
    margin-left: 64px;
    width: 240px; 
}

.login-link {
    padding-left: 42px;

    background-image: url('../img/user.svg');
    background-repeat: no-repeat;
    background-position: 17px 44%;
}

.login-link-logout {
    padding-left: 16px;
}

.login-link-logout a {
    opacity: .3;
}

.cart {
    display: flex;
    justify-content: flex-end;
    width: 320px;    
}

.cart .compare {
    padding-left: 35px;
    margin-right: 26px;

    background-image: url('../img/compare.svg');
    background-repeat: no-repeat;
    background-position: 16% 50%;
}

.cart-item {
    margin-right: 59px;    
    padding-left: 35px;

    background-image: url('../img/cart.svg');
    background-repeat: no-repeat;
    background-position: 15% 50%;
}

.user-navigation a,
.cart a {
    font-size: inherit;
    font-weight: 400;
    line-height: 30px;
    color: #464646;
    white-space: nowrap;    
}
 
.site-navigation {
    display: flex;   
    width: 520px;
    margin-left: auto;
    margin-right: 55px;
}

.site-navigation li:first-child {
    margin-right: 35px;
    margin-left: 15px;
}

.site-navigation li:nth-child(2) {
    margin-right: auto;
}

.catalog-tab-menu {
    position: relative;   
}

.catalog-tab-menu::after {
    content: url(../img/plus.svg);
    
    position: absolute;
    top: 1px;
    right: -30px;
    
    opacity: .3;
}

.catalog-tab-menu,
.site-navigation a {
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 3.5px;
}

.user-navigation a:hover,
.cart a:hover,
.catalog-tab-menu:hover,
.site-navigation a:hover,
.login-link-footer:hover,
.login-link-logout:hover,
.compare-footer:hover,
.cart-item-footer:hover,
.navigation-item:hover {
    opacity: .6;
}

.user-navigation a:active,
.cart a:active,
.catalog-tab-menu:active,
.site-navigation a:active
.login-link-footer:active,
.login-link-logout:active,
.compare-footer:active,
.cart-item-footer:active,
.navigation-item:active {
    opacity: .3;
}

.catalog-tab-menu:hover + .catalog-navigation-block {
    display: flex;
}

.catalog-navigation-block:hover {
    display: flex;
}

.main-slider {
    display: block;
    position: relative;
    z-index: 1;
    width: 1040px;
    margin: -119px auto 95px;        
}

.slider-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 39px;
    margin-bottom: 41px;
    margin-left: 5px;   
}

.slider-item:nth-child(2),
.slider-item:nth-child(3) {
    display: none;
}

.slider-item {
    display: flex;
}

.slider-column:first-child {
    width: 515px;    
}

.slider-column:first-child img {
    padding-top: 10px;   
    padding-left: 30px;     
}

.slider-column:last-child {
    position: relative;
    width: 525px;
    padding-left: 45px;
}

.slider-column:last-child::before {
    content: '';
    width: 100px;
    height: 8px;
    background-color: #fff;
    position: absolute;
    left: 47px;
    top: 44px;
}

.slider-numb-item {
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 179px;
    line-height: 179px;
    color: #fff;
    font-weight: 800;
    position: absolute;
    top: -7px;
    right: -10px;
}

.main-slider h3 {
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 47px;
    line-height: 56px;
    font-weight: 800;
    color: #000;
    margin-top: 86px;
    margin-bottom: 20px;
    margin-left: 3px;
    letter-spacing: 0.5px;
}

.slider-text {
    margin-left: 3px;
    letter-spacing: .2px;
}

.slider-column p:first-child {
    margin-bottom: 20px; 
}

.slider-table tr:first-child {
    font-family: 'gilroylight', Arial, sans-serif;
    font-size: 36px;
    line-height: 48px;
    font-weight: 300;
    color: #000;
}

.slider-table tr:first-child {
    font-family: 'gilroylight', Arial, sans-serif;
    font-size: 36px;
    line-height: 48px;
    font-weight: 200;
    color: #000;
}

.slider-table tr:last-child {
    font-family: inherit;
    font-size: 13px;
    line-height: 33px;
    font-weight: 300;
    color: #000;
}

.slide-toggle-box {
    display: flex;
}

.slide-toggle {
    position: relative;
    border: 1px solid #000;
    border-radius: 100%;
    height: 12px;
    width: 12px;   
    
    background-color: #fff;
    margin-right: 21.5px;
    padding: 0;
    cursor: pointer;
}

.slide-toggle.active::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 4px;    
    
    border-radius: 100%;
    border: 1px solid #000;
}

.slide-toggle:last-child {
    margin-right: 22px;
}

.slider-table td {
    width: 135px;
}

.slider-table td:first-child,
.slider-table td:last-child {
    width: 155px;
}

.product-list {    
    padding: 0;
    display: flex;    
}

.product-item:not(:last-child) {
    margin-right: 40px;
}

.product-item .product-img-bg:hover {
    background-color: #f0c52e;
}

.product-item:active img {
    background-color: #f0c52e;
    opacity: .3;
}

.product-menu h3 {
    margin-top: 31px;
    margin-bottom: 0;
    line-height: 25px;
    letter-spacing: .2px;
}

.product-item .product-img-bg {
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #f7e296;
}

.product-menu h3 a {
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    text-align: center;
}

.monopod-for-selfie {
    padding-top: 40px;
}

.features {
    display: flex;
    background-color: #e5e5e5;
    margin-top: 181px;
}

.features-box {
    display: flex;
    min-height: 280px;    
}

.features-box:not(:nth-child(2)) {
    display: none;
}

.features-column:first-child {
    width: 279px;
}

.features-column:first-child .features-list {
    min-height: 308px;    
    margin-top: -20px;
    position: relative;    
}

.features-column:first-child .features-list::before {    
    content: '';
    position: absolute;
    right: -5px;
    top: -80px;

    width: 7px;
    height: 319px;
    background-color: #000;
}

.features-column:last-child {
    width: 860px;
    box-sizing: border-box;
    padding-left: 122px;
}

.features-column:last-child .features-title {
    position: relative;
    font-family: 'gilroyextrabold', Arial, sans-serif; 
    font-size: 47px;
    line-height: 48px;
    font-weight: 800;
    color: #000;
    margin-top: -28px;    
    margin-bottom: 0;
    letter-spacing: 1px;
}

.delivery::after {
    content: url('../img/delivery.svg');
    position: absolute;
    top: 13px;
    right: 45px;     
}

.warranty::after {
    content: url('../img/warranty.svg');
    position: absolute;
    top: 10px;
    right: 45px;     
}

.credit::after {
    content: url('../img/credit.svg');
    position: absolute;
    top: 10px;
    right: 45px;     
}

.features-column:last-child p {
    box-sizing: border-box;    
    width: 465px;
    margin-top: 32px;
    padding-right: 10px;
    letter-spacing: .23px;
}

.features .feature-item-current {
    margin-bottom: 23px;    
}

.feature-item-current .feature-btn,
.feature-item .feature-btn {    
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;    
    letter-spacing: 3.5px;
    text-transform: uppercase;
    
    position: relative;
}

.feature-item-current .feature-btn {    
    display: block;
    padding: 8px 20px 10px;    
    color: #f7e184;
    background-color: #000000;   
}

.feature-item:not(:last-child) {
    margin-bottom: 24px;
}

.feature-item .feature-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;

    color: #000;
    text-align: center;

    z-index: 1;
}

.feature-item .feature-btn::before {
    content: '';
    position: absolute;
    top: 16px;
    left: 0;
    background-color: #f0c52e;
    height: 8px;
    width: 160px;    
    margin-bottom: 45px;
    z-index: -1;
    transition: all ease .3s;     
}

.feature-btn:hover::before {    
    top: 0;
    height: 40px;
    transition: all ease .3s;   
}

.feature-btn:hover::before {    
    top: 0;
    height: 40px;
    transition: all ease .3s;   
}

.feature-btn:active {
    display: block;
    height: 44px;
    width: 100%;
    padding: 10px 15px 10px;

    color: #f7e184;
    background-color: #000000;
    
    text-align: left;
    box-sizing: border-box;
}

.feature-btn:active::before {
    display: none;
}

.brand-list {
    display: flex;    
    padding: 0;
    margin-top: 95px;
    margin-bottom: 85px;    
}

.brand-item a {
    display: block;
    background-repeat: no-repeat;
}

.brand-item:not(:last-child) {
    margin-right: 40px;
}

.brand-item:nth-child(1) a:hover {
    background-image: url(../img/dji.png);        
}

.brand-item:nth-child(2) a:hover {
    background-image: url(../img/spgadgets.png);    
}

.brand-item:nth-child(3) a:hover {
    background-image: url(../img/gopro.png);
}
 
.brand-item:nth-child(4) a:hover {
    background-image: url(../img/vive.png);
}

.prefooter-column {
    display: flex;
    justify-content: space-between;
    margin-bottom: 87px;
}

.about-us {
    width: 473px;
}

.contacts {
    width: 560px;
}

.about-us ul {
    list-style: none;
    margin-top: 66px;
    padding: 0;
    margin-bottom: 60px;
}

.map-img {
    margin-bottom: 63px;
    cursor: pointer;
}

.about-us h2, 
.contacts h2 {
    position: relative;

    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    color: #000;
    margin: 0;
    padding-top: 49px;
    padding-bottom: 45px;
}

.about-us h2::before, 
.contacts h2::before {
    content: '';
    height: 7px;
    width: 80px;
    background-color: #000;
    
    position: absolute;
    top: 0;
    left: 0;
}

.about-us .about-us-text,
.contacts p {
    margin-top: 0;    
}

.about-us .about-us-text {    
    margin-bottom: 28px;
}

.contacts p {    
    margin-bottom: 40px;
}

.about-us-list .about-us-item {
    position: relative;
    padding-left: 35px;

    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 16px;
    line-height: 40px;
    font-weight: 800;
    color: #000;   
}

.about-us-item::before {
    position: absolute;
    left: 0;
    top: 15px;

    content: "";
    height: 4px;
    width: 4px;
    border: 2px solid #ededed;
    border-radius: 100%;
}

.about-us a
.contacts a {
    margin-top: 80px;
    margin-bottom: 90px;    
}

.about-us .btn {   
    padding: 12px 24px;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    margin-bottom: 44px;
    margin-left: 58px;
    letter-spacing: .1px;    
}

.breadcrumbs li {
    position: relative;
    padding: 0 17px 0 22px;    
}

.breadcrumbs li:first-child {
    padding-left: 0;
}

.breadcrumbs a, 
.breadcrumbs-current {
    font-size: 14px;
    line-height: 24px;
    font-weight: 200;
    color: #000;
    opacity: .6;
}

.breadcrumbs li:not(:last-child)::before {
    content: '';
    position: absolute;
    right: -10px;
    top: 14px;
    height: 10px;
    width: 10px;
    background-image: url(../img/nav-arrow.svg);
    background-repeat: no-repeat;    
}

.breadcrumbs a:hover {
    opacity: .3;
}

.breadcrumbs a:active{
    opacity: .1;
}

.catalog-main {
    overflow: hidden;
}

.page-bar {
    display: flex;
}

.filter-head {
    width: 330px;
    background-color: #dbdbdb;
    padding-left: 100%;
    margin-left: -100%;
}

.sorting {    
    background-color: #ebebeb;
    width: 830px;     
}

.sorting-container {
    display: flex;
    align-items: center;    
    background-color: #ebebeb;

    padding-top: 20px;
    padding-left: 72px;
    padding-bottom: 21px;
    padding-right: 100%;
    margin-right: -100%;
    
    letter-spacing: -0.5px;    
}

.sorting h2 {   
    letter-spacing: 3.4px;
}

.sorting-how {
    display: flex;
    margin-left: 53px;
    letter-spacing: -0.5px; 
}

.sorting-price {
    margin-right: 29px;
}

.sorting-type{
    margin-right: 37px;
}


.sorting-how a  {
    font-family: inherit;
    font-size: 14px;
    line-height: 18px;
    color: #000;
    opacity: .3;
}

.sorting-how a:hover  {    
    opacity: .6;
}

.sorting-how a:hover  {    
    opacity: 1;
}

.sorting-price.current a {
    font-weight: 800;
    opacity: 1;
}

.catalog-block {    
    display: flex;    
    flex-direction: column;
}

.sorting-arrow {
    display: flex;
    justify-content: space-between;
    margin-left: 237px;       
} 

.sorting-up,
.sorting-down {
    width: 20px;
    height: 16px;
    position: relative;
    color: #fff;    
}

.sorting-up a,
.sorting-down a {    
    position: absolute; 
    border: 5px solid transparent;    
    left: 25%;
}

.sorting-up.current a {    
    border-bottom: 10px solid #000;
    opacity: .3;         
}

.sorting-down a {
    border-top: 10px solid #000;
    top: 5px;
    margin-left: 10px;   
}

.sorting-up a:hover,
.sorting-down a:hover {
    opacity: .6;
}

.sorting-up a:active,
.sorting-down a:active {
    opacity: 1;
}

.catalog-container {
    display: flex;    
}

.filter-block {    
    background-color: #eeeeee;
    margin-left: -100%;
    padding-left: 100%;    
}

.filter {
    display: flex;
    flex-direction: column;       
}

.filter-title, 
.sorting h2 {
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    text-transform: uppercase;
    color: #000;
    margin: 0;
    letter-spacing: 3.3px;    
}

.filter-container { 
    display: flex;
    justify-content: flex-end;  
    background-color: #dcdcdc;
    width: 100%;    
}

.filter-title {
    padding-left: 62px;
    padding-top: 23px;
    padding-bottom: 23px;
}

.filter-item.price {
    padding-bottom: 25px;
}

.filter-box-title.price {
    padding-bottom: 35px;
}

.filter-item.color {
    padding-bottom: 31px;
}

.filter-box-title.color {
    padding-bottom: 18px;
}

.filter-item.bluetooth {
    padding-bottom: 26px;
}

.filter-box-title.bluetooth {
    padding-bottom: 19px;
}

.filter-box-title::before {
    display: block;
    width: 200px;
    height: 2px;
    margin-bottom: 10px;
    content: '';
    background-color: #000;
}

.filter-form legend {
    font-family: 'gilroyextrabold', Arial, sans-serif;    
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: #000; 
}

.filter-form {
    padding: 69px 68px 0 57px;
    
}

.filter-button {
    border: 0;
    background-color: transparent;
}

.filter-option {
    position: relative;    
}

.custom-checkbox {
    position: absolute; 
    left: 0;
    top: 8px;   
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;    
}

.filter-input-checkbox + .custom-checkbox {
    background-image: url('../img/checkbox-off.svg');    
}

.filter-input-checkbox:checked + .custom-checkbox {
    background-image: url('../img/checkbox-on.svg');    
}

.filter-input-checkbox + .custom-checkbox:hover, 
.filter-input-checkbox:checked + .custom-checkbox:hover,
.filter-input-radio + .custom-radio:hover,
.filter-input-radio:checked + .custom-radio:hover::before {
    opacity: .6;   
}

.filter-input-radio + .custom-radio {
    display: block;
    position: absolute; 
    left: 0;
    top: 6px;   
    width: 24px;
    height: 24px;
    border-radius: 100%;
    box-sizing: border-box;
    border: 4px solid #000;    
    cursor: pointer;    
}

.filter-input-radio:checked + .custom-radio::before {
    content: '';    
    display: block;
    height: 8px;
    width: 8px;
    border-radius: 100%;   

    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    
    background-color: #000;     
}

.filter-option label {
    padding-left: 40px;

    font-family: 'gilroylight', Arial, sans-serif;
    font-size: 14px;
    line-height: 40px;
    font-weight: 300;
    color: #000;
    cursor: pointer;    
}

.filter-price-box {
    border-top: 2px solid #000;
    padding-bottom: 25px;
}

.range-controls {
    position: relative;
    
    height: 10px;    
    padding-bottom: 3px;  
}
  
.range-controls .scale {
    height: 2px;
  
    background: #d7dcde;
}
  
.range-controls .bar {
    width: 60%;
    height: 2px;
  
    background: #a2c742;
}
  
.range-controls .toggle {
    position: absolute;
    top: -10px;
    left: 0;
    
    width: 4px;
    height: 4px;
    padding: 0;
  
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}
  
.range-controls .toggle-min {
    left: -4px;
}
  
.range-controls .toggle-max {
    left: 109px;
}
  
.price-controls {
    font-size: 0;
    opacity: .3;
}
  
.price-controls label {    
    font-family: 'gilroylight', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #000;
}
  
.price-controls input {
    width: 44px;
    
    font-family: 'gilroylight', Arial, sans-serif;
    font-size: 14px;    
    color: #000;
    
    border: none;
    border-radius: 5px;
    background: #EEEEEE;
}
  
.min-price {
    text-align: right;
    margin-right: 27px;
}

.catalog {
    width: 760px;
    padding-left: 71px;
    padding-top: 70px;
}

.catalog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;    
}

.catalog-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 360px;
}

.catalog-list h3 {
    font-family: 'gilroyextrabold', Arial, sans-serif;    
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: #000;
}

.catalog-list span {
    font-family: 'gilroylight', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #474747;
}

.img-box {
    position: relative;   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 31px;       
}

.img-box img {
    z-index: -1;
}

.img-box .btn {
    display: none;
    position: absolute; 

    background-color: transparent;
    border: 0;
    z-index: 1;
    cursor: pointer;   
}

.img-box a {
    display: none;
    position: absolute;
    top: 60%;    
    
    color: #000;
    font-size: 13px;
    line-height: 36px;
    letter-spacing: .1px;
    z-index: 1;
    opacity: .5;    
}

.img-box a:hover {
    opacity: 1;
}

.img-box a:active {
    opacity: .2;
}

.img-box:hover {
    background-color: rgba(238, 238, 238, .7);
}

.img-box:hover > .btn,
.img-box:hover > a {
    display: block;     
}

.catalog-title-box {
    display: flex;
    justify-content: space-between;    
    width: 100%;
    margin-bottom: 48px;
}

.catalog-title-box h3 {
    width: 270px;
    margin: 0;
    letter-spacing: 0.2px;
}

.pagination-list {
    display: flex;
    padding: 19px 0;
    background-color: #ebebeb;
    margin-top: -12px;
    margin-bottom: 78px;    
}

.pagination-item.prev a,
.pagination-item.next a {    
    padding: 25px 30px;
}

.pagination-item.prev a:hover,
.pagination-item.next a:hover {    
    background-color: #d9d9d9;
}

.pagination-item.prev a:active,
.pagination-item.next a:active {    
    color: rgba(0, 0, 0, .3);
}

.pagination-item.prev {    
    margin-right: 208px;
}

.pagination-item.next {
    margin-left: 203px;
}

.pagination-item.next a, 
.pagination-item.prev a, 
.pagination-item-current a {
    font-family: 'gilroyextrabold', Arial, sans-serif;    
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}

.pagination-item.numb:not(:last-child) {
    margin-left: 28px;
}

.pagination-item.numb {
    opacity: .3; 
}

.pagination-item.numb:hover {
    opacity: .6; 
}

.pagination-item.numb:active {
    opacity: 1; 
}

.pagination-item:nth-child(3) a, 
.pagination-item:nth-child(4) a {
    font-family: 'gilroyextrabold', Arial, sans-serif;    
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #000;    
}

footer {    
    background-color: #464646;
    padding-top: 63px;  
    padding-bottom: 55px;
}

.row-top-footer {
    display: flex;
    justify-content: space-between;      
}

.row-top-footer a {
    font: inherit;
    color: #adadad;
}

.cart-footer {
    display: flex;          
}

.cart-footer .user-navigation-item  {
    padding-left: 31px;
    letter-spacing: 0.1px;
}

.row-middle-footer {
    display: flex;   
    padding-top: 22px;
}

.row-middle-footer p {
    font: inherit;
    color: #fff;    
    font-size: 15px;
    line-height: 30px;
    margin: 0;
    padding-bottom: 2px;    
}

.row-middle-footer p:first-child {
    letter-spacing: .33px;
}

.row-middle-footer a {
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 18px;
    line-height: 34px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3.2px;
}

.navigation-footer {
    display: flex;
    margin-right: auto;
    margin-left: 164px;
}

.navigation-footer li:not(:last-child) {
    padding-right: 37px;    
}

.navigation-footer li:first-child, .social-img a:last-child {
    margin-left: auto;
}

.navigation-footer li:last-child, .social-img a:last-child {
    margin-right: auto;
}

.login-link-footer {
    background-image: url('../img/user-footer.svg');
    background-repeat: no-repeat;
    background-position: 6px 26%;
}

.user-navigation-item.login-link-logout {
    padding-left: 20px;    
}

.cart-footer .compare-footer {
    background-image: url('../img/compare-footer.svg');
    background-repeat: no-repeat;
    background-position: 11px 29%;
    margin-left: 33px;
}

.cart-item-footer {
    background-image: url('../img/cart-footer.svg');
    background-repeat: no-repeat;
    background-position: 9px 25%;
    margin-left: 32px;
}

.row-bottom-footer {
    position: relative;
    display: flex;
    align-items: center;    
    height: 48px;
    padding-top: 56px;
}

.row-bottom-footer::before {
    content: '';    
    width: 80px;
    height: 8px;
    background-color: #ffc600;
    position: absolute;
    top: 72px;
}

.social-img {
    display: flex;
    align-items: center; 
    margin-right: 482px;
    margin-left: auto;       
}

.social-img a:not(:last-child) {
    padding-right: 23px;
}

.social-img a:first-child {
    padding-left: 15px;
}

.row-bottom-footer .social-img a {
    opacity: .3;
}

.row-bottom-footer .social-img a:hover {
    opacity: 1;
}

.row-bottom-footer .social-img a:active {
    opacity: .1;
}

.row-bottom-footer a:hover {
    opacity: .6;
}

.row-bottom-footer .social-img a:active {
    opacity: .3;
}

.modal {
    display: none;
}

.map-popup {
    display: none;
}

.map-popup.active {
    display: block;
    width: 960px;    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    z-index: 10;
}

.map-popup.active iframe {
    border: 0;
    width: 100%;
    min-height: 560px;
}


.modal.active {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    padding: 90px 100px 70px 100px; 
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 10;

    animation: bounce .6s;
}

.modal.error input[type="text"],
.modal.error input[type="email"] {
    background-color: #edb5b5;
}

.modal-close,
.write-us-form input[type="submit"] {
    border: none;
    background-color: transparent;
}

.modal-close {
    position: absolute;
    right: 20px;
    top: 20px;
    
    width: 54px;
    height: 54px;
    border-radius: 100%;

    background-color: #f0c52e;
    cursor: pointer;
    opacity: .5;
}

.modal-close:focus {
    outline: none;
    box-shadow:
		0 0 0 3px #fff,
		0 0 0 6px #2f7cc0;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close:active {
    opacity: .3;
}

.modal-close::after,
.modal-close::before {
    content: '';
    display: block;
    height: 2px;
    width: 24px;

    position: absolute;
    left: 15px;   
    
    background-color: #fff;
}

.modal-close::after {
    transform: rotate(-45deg);    
}

.modal-close::before {
    transform: rotate(45deg);    
}


.write-us-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 760px;
}

.write-us-item {
    display: flex;
    flex-direction: column;
}

.write-us-form label {
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: #000;
    margin-bottom: 10px;   
}

.write-us-form input[type="text"],
.write-us-form input[type="email"] {
    width: 360px;
    padding: 16px 20px 16px;
    box-sizing: border-box;
    border: 0;

    background-color: #f2f2f2;
}

.write-us-form input[type="text"]:hover,
.write-us-form input[type="email"]:hover,
.write-us-form textarea:hover {
    background-color: #ededed;
}

.write-us-form input[type="text"]:focus,
.write-us-form input[type="email"]:focus,
.write-us-form textarea:focus {
    outline: none;
    border: 3px solid #f7e296;
    background-color: #fff;
    color: #000;    
}

.write-us-form textarea {
    width: 100%;
    min-height: 155px;
    padding-top: 16px;
    padding-left: 20px;
    margin-top: 35px;
    border: 0;
    resize: none;

    background-color: #f2f2f2;
}

.write-us-form .btn {
    margin-top: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@keyframes bounce {
    0% {
      transform: translate(-50%, -2000px);
    }
  
    70% {
      transform: translate(-50%, 30px);
    }
  
    90% {
      transform: translate(-50%, -10px);
    }
  
    100% {
      transform: translate(0 0);
    }
}



